//- INCLUDES > MIXINS

mixin article(url, p, t, a, i)
    .card.article.card-spacer
        .jank-tape
            img(src='images/home-bluetape.png')
        a(href=url target="_blank")
            .card-content
                h4.publisher #{p}
                h1.title #{t}
                h4.author by #{a} 
                h4.info #{i} 

mixin herocard-small(main, blurb, img)
    .primary-container-hero
        .hero-card.hc-short
            .hero-text
                h1.hero.white #{main}
                h4.hero.white #{blurb}
            .hero-image
                img.beta-img(src=imgpath + img)

mixin blogcards(url, img, source, title, author, url2, img2, source2, title2, author2, url3, img3, source3, title3, author3)
    .flex
        .column
            a(href=url target="_blank")
                .card.blogcard.shadow
                    .blogthumb(style="background-image: url("+imgpath+"blog/"+img+");")
                    p.source #{source}
                    h4 #{title}
                    p.byline #{author}
        .column
            a(href=url2 target="_blank")
                .card.blogcard.shadow
                    .blogthumb(style="background-image: url("+imgpath+"blog/"+img2+");")
                    p.source #{source2}
                    h4 #{title2}
                    p.byline #{author2}
        .column
            a(href=url3 target="_blank")
                .card.blogcard.shadow
                    .blogthumb(style="background-image: url("+imgpath+"blog/"+img3+");")
                    p.source #{source3}
                    h4 #{title3}
                    p.byline #{author3}
            
mixin code(url, content)
    a(target="_blank" href=url)
        span.code #{content}

mixin question(qa)
    h2
        span(id=qa.hash)  
    h2!=qa.q
    h4!= qa.a

mixin menu(week)
    each item in week
        .dish
            img(src=item.src)
            h4 <strong>!{item.name}</strong>
            p!=item.sub
            if item.price
                .price
                    p $#{item.price}

mixin typeform()
    <a class="typeform-share button" href="https://choosepicnic.typeform.com/to/XAt6Rr" data-mode="popup" style="color: white !important; text-decoration: none !important; font-size: 18px; padding: 10px 15px !important;" data-submit-close-delay="5">Order now!</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

mixin icon(c)
    i(class=c)

mixin navItems()
    a.nav-link(href='about.html') About us
    a.nav-link(href='blog.html') Blog
    a.nav-link.mobile-hide(href='menu.html') Menu
    a.nav-link.demo-link(href='https://picnic385059.typeform.com/to/jv1HLB') Join waitlist

    form(action="https://picnic385059.typeform.com/to/jv1HLB" method="GET" target="_blank")
        input#email_submit.button.button-nav(type="submit" value=btnTxt)

// TEMPORARY
mixin spacer()
    br
    br
    br
    br
    br
    br

